.inputWrap{

  .el-input__inner{
    height: 44px;
    line-height: 44px;
    border-radius: 6px;
    border-color: #28272e99;
    background: green;
  }
  .el-input__inner:hover{
    border-color: #28272e99;
  }
  .el-input__inner:focus{
    background: rgba(106, 93, 252, 0.1);
    border: 1px solid #6a5dfc;
  }

}

